:root {
    /* --first-color: #ADD8E6;
    --second-color: ; */
    --first-color: #33FFC1   ;
    --second-color: white ;
    --third-color: white;
    --fourth-color: white;
}

.dark-theme{
    --first-color: black;
    --second-color: gray;
    --third-color: gray;
    --fourth-color: white;
}



