:root {
    /* --first-color: #ADD8E6;
    --second-color: ; */
    --first-color: #00B4D8;
    --second-color: white;
    --third-color: #CED4DA;
    --fourth-color: black;
    --fifth-color: #E9ECEF;
}

.dark-theme{
    --first-color: black;
    --second-color: white;
    --third-color: gray;
    --fourth-color: black;
    --fifth-color: #E9ECEF;
}



