*{
    margin: 0px;
    /* padding: 0px; */
}

body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    /* width: 70%; */
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background: black;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: white;
}

nav{
    background: darkgray;
    height: 50px;
    border-bottom: 1px solid black;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.clearfix{
    clear: both;
}

#content{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: gray;
    padding: 40px;
}

aside{
    float: left;
    width: calc(20% - 11px);
    min-height: 500px;
    background: gray;
    /* padding: 10px; */
    padding-top: 20px;
    padding-left: 10px;
    border-left: 1px solid black;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}